# Python
*.py[cod]
__pycache__/
/*.ipynb
/*.pstats
/*.pkl
*.csv
*.so
*.egg-info/

# IDE
.idea/
.vscode/

# Logs
/logs/
/output/
/results/
/figures/


/scripts/inspect_variance.py
/scripts/inspect_results.py
/scripts/evaluate.py

*/.ipynb_checkpoints
*.png
*.ipynb
*.sh
*.out
/relax/evaluate/